main{
    width: 100vw;
    height: 100vh;
    background-color: $veryDarkBlue;

    .card{
        width: 330px;
        height: 781px;
        background-color: $darkDesaturatedBlue;
        border-radius: 7px;
        @media (min-width: 1150px) {
            display: flex;
            flex-direction: row-reverse;
            width: 1111px;
            height: 446px;
        }

        &-bg-img{
            position: relative;
            width: 100%;
            height: 242px;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(rgba(90, 17, 136, 0.7)),url("/images/image-header-mobile.jpg");
            border-radius: 7px 7px 0 0;

            @media (min-width: 1150px) {
                height: 100%;
                background-image: linear-gradient(rgba(90, 17, 136, 0.7)),url("/images/image-header-desktop.jpg");
                border-radius: 0 7px 7px 0;
                
            }
        }

        &-text{
            color: $white;
            text-align: center;
            padding: 44px 36px 36px 36px;

            @media (min-width: 1150px) {
                padding: 75px 118px 65px 69px;
                text-align: left;
            }

            > h1{
                font-size: 27px;
                @media (min-width: 1150px) {
                    font-size: 38px;
                }

                > span{
                    color: $softViolet;
                }
            }

            .para{
                color: $transparentWhiteMain;
                font-size: 15px;
                margin: 22px 0 47px 0;
                line-height: 1.7;
                @media (min-width: 1150px) {
                    margin: 32px 0 79px 0;
                }
            }

            .info{
                width: 100%;
                @media (min-width: 1150px) {
                    width: 393px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .item{
                    margin-bottom: 20px;
                    > p{
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 4px;
                    }

                    > span{
                        font-family: 'Lexend Deca', sans-serif;
                        font-weight: 400;
                        font-size: 12px;
                        text-transform: uppercase;
                        color: $transparentWhiteHead;
                    }
                }
            }
        }
    }
        
        
}